
:root {
    --squareNumber: 16;
}

body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

}

header {}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--squareNumber), 1fr);
    grid-template-rows: repeat(var(--squareNumber), 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;
 
}

.gridSquareStyle {
    border: 1px solid black;
    display: flex;

    
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

#labelColor {
    display: inline-block;
    font: arial;
    font-weight: bold;
    font-size: 25px;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
}

#labelSize {
    display: inline-block;
    font: arial;
    font-weight: bold;
    font-size: 25px;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}


button {
    display: flex;
    font: arial;
    font-weight: bold;
    font-size: 25px;
    height: 2rem;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0.5rem;    
}

.rainbowOn {
    background-color: red;
    
}

#selectColor {
    padding: 0px;
    border: none;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
}

.sliderContainer {
    display:flex;
    flex-direction: column;
    padding: 5px 100px 0 100px;
   

}

.sliderCaption {
    font-size: 16px;
    font-weight: normal;
}


/* .gridAndButtons {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    justify-self: center;
}

#buttonContainer {


} */