
:root {
    --squareNumber: 16;
    --color : black
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--squareNumber), 1fr);
    grid-template-rows: repeat(var(--squareNumber), 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.gridSquareStyle {
    border: 1px solid black;
    display: flex;
    
}

